@model MunTea.Models.ChucVu

@{
    ViewBag.Title = "ChiTiet";
    Layout = "~/Views/Shared/khungTrangQuanLy.cshtml";
}
<h2 style="color:beige;text-align:center;">Chi tiết nhân viên</h2>

<form>
    <h4 style="color:beige;text-align:center;">Chức vụ</h4>
    <div class="form-row">
        <div class="col-sm-6 form-group">
            <label style="color:beige">Mã chức vụ</label>
            <a class="form-control">
                @Html.DisplayFor(model => model.MaChucVu)
            </a>
        </div>
        <div class="col-sm-6 form-group">
            <label style="color:beige"> Tên chức vụ</label>
            <a class="form-control">
                @Html.DisplayFor(model => model.TenChucVu)
            </a>
        </div>
    </div>

    <p>
        @Html.ActionLink("Sửa", "Sua", "ChucVu", new { machucvu = @Model.MaChucVu }, new { @class = "btn btn-warning" }) |
        @Html.ActionLink("Trở về", "HienDanhSach", "ChucVu", new { @class = "btn btn-primary" })
    </p>
