@model MunTea.Models.ChucVu

@{
    ViewBag.Title = "ChiTiet";
    Layout = "~/Views/Shared/khungTrangQuanLy.cshtml";
}

<h2 style ="color:beige;text-align:center;">Chi tiết chức vụ</h2>

<fieldset>
    <legend style="color:beige;text-align:center;">Chức vụ</legend>
    <div class="display-label" style="color:beige">
        Mã chức vụ:
    </div>
    <div class="display-field" style="color:beige">
        @Html.DisplayFor(model => model.MaChucVu)
    </div>
    <div class="display-label" style="color:beige">
        Tên chức vụ:
    </div>
    <div class="display-field" style="color:beige">
        @Html.DisplayFor(model => model.TenChucVu)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Sửa", "Sua", "ChucVu", new { machucvu = @Model.MaChucVu }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Trở về", "HienDanhSach", "ChucVu", new { @class = "btn btn-primary" })
</p>
